.login{
    height: -webkit-fill-available;
    width: 100%;
    background-image: linear-gradient(to bottom left, mediumseagreen,dodgerblue);
}

.center{
    margin-top: 40%;
    padding-top: 20%;
    padding-bottom: 20%;
}